<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CJRadioDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>785B22281E3A21D800D0A085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>785B22411E3A21D800D0A085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>785B224C1E3A21D800D0A085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
